.form {
    color: aliceblue;
    width: 30%;
    line-height: 2;
    margin: auto;
}

body {
    background-color:dodgerblue;
}

header {
    text-align: center;
    color: aliceblue;
}


nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

img{
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 20px;
}

p {
    color: aliceblue;
}

.tab {
    margin: auto;
    margin-top: 2%;
    border-collapse:collapse;
    border-radius: 50%;
}

.tabDay {
    color: white;
    background-color: blue;
}

td {
    background-color: aliceblue
}

th, td {
    border: 2px solid blue;
    padding: 8px;
}

button {
    border-radius: 10px;
    color: white;
    background-color: blue;
    margin-left: 460px;
}